.DS_Store
.idea/workspace.xml
.idea/vagrant.xml

dist/
build/
node_modules/
coverage/
.coverage

lib/
config/
deploy/
docs/
node_modules/
public/
scripts/
reports-test/
src/support/i18n/
src/support/network/
src/serviceWorker.js
